.control-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control-btn-container {
  display: inline;
  /*margin-left: 64px;*/
}

.control-button {
  padding: 1em;
  border-width: 2px;
  border-color: none;
  background-color: #44397d;
  color: white;
  width: 60px;
}