.control-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control-btn-container {
  display: inline;
}

.control-button {
  padding: 0.75em;
  border-width: 2px;
  border-color: none;
  background-color: #44397d;
  color: white;
  width: 60px;
}

@media screen and (min-width: 768px) and (max-aspect-ratio:0.9){
  .control-button {
    width: 75px;
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) and (min-aspect-ratio:0.9){
  .control-button {
    width: 63px;
    font-size: 15px;
  }
}

@media screen and (min-width: 1120px){
  .control-button {
    width: 78px;
    font-size: 16px;
  }
}