.title-grid {
  display: grid;
  grid-template-columns: repeat(80,4px) ;
  grid-gap: 0;
  align-self: center;
}

.block-ground {
  background-color: #44397d;
  height: 4px;
  width: 4px;
  font-size: 2px;
  text-align: center;
  border: 0.1px solid #554a8e;
}
.title {
  margin-top: 5px;
}
.block-font {
  color: #f3f3f3;
  background-color: #f3f3f3;
  font-size: 2px;
  height: 4px;
  width: 4px;
  border: 0.1px solid #887dbe;
}

/*
.wrapper {
  border: 2px solid #737373;
  margin: 5px;
  height: 83px;
  width: 83px;
}*/