* {
  box-sizing: border-box;
}
body {
  background-color: #e1eff2;
}
.flex-row {
  margin-top: 30px;
  display: flex;
}

.comp-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}